<!DOCTYPE html>
<wicket:panel xmlns:wicket="http://wicket.apache.org">

	<div class="box box-info">
		<div class="box-header with-border">
			<span class="panel-title"><i class="fa fa-university"></i> Entidade</span>
		</div>

		<div class="box-body">
			<div class="row">
				<div class="col-md-12">
					<label>CNPJ</label><br /> <span wicket:id="numeroCnpj"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<label>Tipo</label><br /> <span wicket:id="tipoEntidade"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<label>Nome</label><br /> <span wicket:id="nomeEntidade"></span>
				</div>

			</div>

			<div class="row">
				<div class="col-md-12">
					<label>Endereço Entidade</label><br /> <span wicket:id="endereco"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<label>Telefone</label><br /> <span wicket:id="numeroTelefone" class="mask-telefone"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<label>E-Mail</label><br /> <span wicket:id="email"></span>
				</div>
			</div>
		</div>
	</div>
</wicket:panel>