<!DOCTYPE html>
<wicket:panel xmlns:wicket="http://wicket.apache.org">

	<div class="box box-primary">
		<div class="box-header with-border">
			<span class="box-title"><i class="fa fa fa-book"></i> Programa</span>
		</div>
		<div class="box-body">
			<div class="row">
				<div class="col-sm-12">
					<label>Código</label><br /> <span wicket:id="codigoIdentificadorProgramaPublicado"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label>Nome</label><br /> <span wicket:id="nomePrograma"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label>Período de Recebimento de Propostas</label><br /> <span wicket:id="periodoRecebimentoProposta"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label>Valor Total</label><br /> <span wicket:id="valorTotalPrograma"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<label>Órgão Executor</label><br /> <span wicket:id="orgaoExecutor"></span>
				</div>
			</div>
		</div>
	</div>
</wicket:panel>