<!DOCTYPE html>
<wicket:panel xmlns:wicket="http://wicket.apache.org">

	<ul class="nav nav-tabs">
		<li role="presentation" wicket:id="containerInscricao"><a href="#" wicket:id="lnkInscricao">Inscrição</a></li>
		<li role="presentation" wicket:id="containerEntrega"><a href="#" wicket:id="lnkEntrega">Endereços de Entrega</a></li>
		<li role="presentation" wicket:id="containerComissaoRecebimento"><a href="#" wicket:id="lnkComissaoRecebimento">Comissão de Recebimento</a></li>
		<li role="presentation" wicket:id="containerRegistrarRecebimento"><a href="#" wicket:id="lnkRegistrarRecebimento">Recebimento</a></li>
	</ul>
	<br />
</wicket:panel>
