<!DOCTYPE html>
<wicket:extend xmlns:wicket="http://wicket.apache.org">

	<form wicket:id="form" class="form-horizontal">
		<wicket:container wicket:id="panelFasePrograma" />
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title"><span wicket:id="lblTituloPagina"></span></h3>
			</div>
			<div class="box-body">
				<h4>
					<span wicket:id="lblSubtitulo"></span>
				</h4>
				<div wicket:id="gridListaElegibilidadePanel">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Nome</th>
								<th>CNPJ</th>
								<th>Tipo</th>
								<th>Estado</th>
							</tr>
						</thead>
						<tbody wicket:id="inscricoes">
							<tr>
								<td><span wicket:id="pessoaEntidade.entidade.nomeEntidade"></span></td>
								<td><span wicket:id="pessoaEntidade.entidade.numeroCnpj"></span></td>
								<td><span wicket:id="pessoaEntidade.entidade.tipoEntidade.descricaoTipoEntidade"></span></td>
								<td><span wicket:id="pessoaEntidade.entidade.municipio.uf.nomeUf"></span></td>
							</tr>
						</tbody>
					</table>
					<div wicket:id="pagination"></div>
				</div>
				<div wicket:id="gridListaAvaliacaoPanel">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Posição</th>
								<th>Nome</th>
								<th>CNPJ</th>
								<th>Tipo</th>
								<th>Estado</th>
							</tr>
						</thead>
						<tr wicket:id="inscricoes">
							<td><span wicket:id="colocacao"></span></td>
							<td><span wicket:id="pessoaEntidade.entidade.nomeEntidade"></span></td>
							<td><span wicket:id="pessoaEntidade.entidade.numeroCnpj"></span></td>
							<td><span wicket:id="pessoaEntidade.entidade.tipoEntidade.descricaoTipoEntidade"></span></td>
							<td><span wicket:id="pessoaEntidade.entidade.municipio.uf.nomeUf"></span></td>
						</tr>
					</table>
					<div wicket:id="pagination"></div>
				</div>
				<br /> <br />
				<div wicket:id="programaAnexosPublicadosPanel"></div>
			</div>
		</div>

		<div class="box-footer clearfix ">
			<div class="pull-right">
				<span wicket:id="buttonsPanel">
					<button wicket:id="btnPublicarElegibilidade" class="btn btn-default btn-sm">
						<i class="fa fa-share"></i> <span wicket:id="lblElegibilidade"></span>
					</button>
					<button wicket:id="btnPublicarClassificacao" class="btn btn-default btn-sm">
						<i class="fa fa-share"></i> <span wicket:id="lblClassificacao"></span>
					</button>
					<button wicket:id="btnExportarPdf" title="Exportar PDF" class="btn btn-success btn-sm">
						<i class="fa fa-file-pdf-o"></i>Exportar PDF
					</button>
				</span>
				<button wicket:id="btnVoltar" title="Voltar" class="btn btn-warning btn-sm">
					<i class="fa fa-undo"></i>Voltar
				</button>
			</div>
		</div>
	</form>
</wicket:extend>