<wicket:panel>
	<div class="box box-primary form-horizontal">
		<div class="box-header with-border">
				<h3 class="box-title"><span wicket:id="tituloPanel">Titulo</span></h3>
		</div>
		<div wicket:id="panelPrincipal" >
					
	
									<script>
						$(document).ready(function() {
							$("#dropDownAtivo").select2();
						});
					</script>
					<br/>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="cpf"> <span
					class="obrigatorio">*</span> CPF
				</label>
				
				<div class="col-sm-3">
					<input type="text" placeholder="CPF" class="form-control"
						id="cpf" wicket:id="pessoa.numeroCpf" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="nomeRepresentante">
					<span class="obrigatorio">*</span> Nome
				</label>
				<div class="col-sm-6">
					<input type="text" placeholder="Nome do Representante"
						class="form-control" id="nomeRepresentante"
						wicket:id="pessoa.nomePessoa" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="cargo"> <span
					class="obrigatorio">*</span> Cargo
				</label>
				<div class="col-sm-6">
					<input type="text" placeholder="Cargo" class="form-control"
						id="cargo" wicket:id="pessoa.descricaoCargo" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="telefone"> <span
					class="obrigatorio">*</span> Telefone
				</label>
				<div class="row col-sm-7">
					<div class="col-sm-4">
						<input type="text" placeholder="Telefone"
							class="form-control mask-telefone" id="telefone"
							wicket:id="pessoa.numeroTelefone" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="email"> <span
					class="obrigatorio">*</span> E-Mail
				</label>
	
				<div class="row col-sm-7">
					<div class="col-sm-4">
						<input type="text" placeholder="Email" class="form-control"
							id="email" wicket:id="pessoa.email" />
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="periodoExercicio">
					* Período de Exercício: </label>
				<div class="row col-sm-7">
					<div class="col-sm-4">
						<input type="text" placeholder="DD/MM/AAAA" class="form-control"
							wicket:id="pessoa.dataInicioExercicio" />
					</div>
					<div class="col-sm-7">
						<label class="col-sm-1 control-label" for="dataLimite"> a </label>
						<div class="col-sm-8">
							<input type="text" placeholder="DD/MM/AAAA" class="form-control"
								wicket:id="pessoa.dataFimExercicio" />
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="enderecoCorrespondencia">*
					Endereço de Correspondência </label>
				<div class="col-sm-6">
					<input type="text" placeholder="End. de Correspondência"
						class="form-control" id="enderecoCorrespondencia"
						wicket:id="pessoa.enderecoCorrespondencia" />
				</div>
			</div>
	
			<div class="form-group">
				<label class="col-sm-3 control-label">* Ativo</label>
				<div class="row col-sm-7">
					<div class="col-sm-4">
					<select wicket:id="pessoa.statusPessoa" class="js-example-basic-single" id="dropDownAtivo"
						style="width: 100%;"></select>
				</div>
				</div>
			</div>
		</div>
		<div wicket:id="panelDataView">
			<div class="box-body">
				<span class="visible-xs"><i class="fa fa-exchange"></i>
					Movimente a tabela para visualizar </span>
	
				<div class="form-group">
						<div class="col-sm-5"/>
      					<div class="col-sm-5">
							<a title="Cancelar"
								class="btn btn-warning btn-sm" wicket:id="btnCancelar">
								<i class="fa fa-undo"></i>
							</a>
						</div>
				</div>
	
				<div class="table-responsive">
					<table width="55%" class="table table-hover">
						<thead>
							<tr>
								<th width="10%"></th>
								<th>Nome</th>
								<th>CPF</th>
								<th>Cargo</th>
								<th>Exercício</th>
								<th>Situação</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody wicket:id="dataTitulares">
							<tr>
								<td width="10%"></td>
								<td><span wicket:id="pessoa.nomePessoa" /></td>
								<td><span wicket:id="pessoa.numeroCpf" /></td>
								<td><span wicket:id="pessoa.descricaoCargo" /></td>
								<td><span wicket:id="exercicio" /></td>
								<td><span wicket:id="pessoa.statusPessoa.descricao" /></td>
								<td>
									<a class="btn btn btn-primary btn-sm" title="Visualizar"
										wicket:id="btnVisualizar">
										<i class="fa fa-search"></i>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="box-footer">
					<div wicket:id="pagination"></div>
				</div>
			</div>
		</div>
	</div>
</wicket:panel>
