<!DOCTYPE html>
<wicket:panel xmlns:wicket="http://wicket.apache.org">

	<style type="text/css">
.td-fornecedor {
	border-top: 0px solid #f4f4f4;
}

.td-beneficiario {
	border-top: 0px solid #f4f4f4;
}

.radio-inline {
	left: 13px !important;
	bottom: 5px !important;
}

#imagePreview {
	height: 215px !important;
	background-position: center center !important;
	background-size: cover !important;
	display: inline-block !important;
	margin-left: 9.5% !important;
	margin-bottom: 30px !important;
}

.moverMargin {
	margin-left: 101px !important;
}

.icone_cor_erro {
	color: #ff0000 !important;
	font-size: 16px !important;
	margin-bottom: 5px !important;
}

.icone_cor_verificado {
	color: #00d700 !important;
	font-size: 16px !important;
	margin-bottom: 5px !important;
}

.icone_editando_aba {
	font-size: 16px !important;
	margin-bottom: 5px !important;
}

.page-header {
	margin-bottom: 0px !important;
	margin-top: 0px !important;
}

.content {
	overflow-x: hidden !important;
}

.div-input-margem {
	margin-left: 9px !important;
}

.label-orientacao-fornecedor {
	padding: 10px !important;
	padding-left: 9px !important;
}

.label-identificador-unico {
	padding: 10px !important;
	padding-left: 0px !important;
	margin-left: 3px !important;
}

.div-botoes-avancar-recuar {
	padding: 19% !important;
}

@media ( max-width : 585px ) {
	#imagePreview {
		height: 215px !important;
		background-position: center center !important;
		background-size: cover !important;
		display: inline-block !important;
		margin-left: 9.5% !important;
		margin-bottom: 30px !important;
	}
	.div-input-alfanumerico {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	.div-painel {
		padding: 0px !important;
	}
	.div-botoes-avancar-recuar {
		padding-top: 20px !important;
		padding-bottom: 10px !important;
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
	.input-anexo {
		margin-left: 0px !important;
		width: 100%;
	}
	.img-foto {
		margin-left: 25px !important;
		margin-top: 5px !important;
	}
	.titulo-quesito {
		font-size: 16px !important;
		font-weight: bold !important;
	}
	.label-orientacao-fornecedor {
		font-size: 15px !important;
		font-weight: normal !important;
	}
	.input-data {
		width: 90% !important;
	}
	.inputs {
		margin-left: 8px !important;
	}
}

@media ( max-width : 767px ) {
	#imagePreview {
		height: 215px !important;
		background-position: center center !important;
		background-size: cover !important;
		display: inline-block !important;
		margin-left: 9.5% !important;
		margin-bottom: 30px !important;
	}
	.div-botoes-avancar-recuar {
		padding-top: 20px !important;
		padding-bottom: 10px !important;
		padding-left: 5px !important;
		padding-right: 5px !important;
	}
	.input-anexo {
		left: -1px !important;
		padding-top: 5px !important;
	}
	.img-foto {
		margin-left: 25px !important;
		margin-top: 5px !important;
	}
	.label-identificador-unico {
		padding: 10px !important;
		padding-left: 0px !important;
		padding-bottom: 0px !important;
		margin-left: 0px !important;
		font-size: 15px !important;
		font-weight: normal !important;
	}
	.titulo-quesito {
		font-size: 16px !important;
		font-weight: bold !important;
	}
	.input-data {
		width: 90% !important;
	}
}

@media ( max-width : 1056px ) {
	#imagePreview {
		height: 215px !important;
		background-position: center center !important;
		background-size: cover !important;
		display: inline-block !important;
		margin-left: 9.5% !important;
		margin-bottom: 30px !important;
	}
	.img-foto {
		margin-left: 25px !important;
		margin-top: 5px !important;
		padding-left: 0px !important;
	}
	.label-identificador-unico {
		padding: 10px !important;
		padding-left: 0px !important;
		padding-bottom: 0px !important;
		margin-left: 0px !important;
		font-size: 15px !important;
		font-weight: normal !important;
	}
	.titulo-quesito {
		font-size: 16px !important;
		font-weight: bold !important;
	}
	.input-data {
		width: 90% !important;
	}
}
</style>

	<form wicket:id="form" class="form-horizontal" enctype="multipart/form-data">

		<!-- BOX DA DESCRICAO DO ITEM -->
		<div class="box box-info collapsed-box box-solid" style="margin-left: 10px; margin-right: 10px;">
			<div class="box-header with-border">
				<h3 class="box-title">Descrição do Item</h3>
				<div class="box-tools pull-right">
					<button class="btn btn-box-tool" data-widget="collapse">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
			<div class="box-body">
				<span wicket:id="txtDescricaoItem"></span>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6" style="text-align: center">
				<h3 class="box-title">Fornecedor</h3>
			</div>
			<div class="col-md-6" style="text-align: center">
				<h3 class="box-title">Beneficiario</h3>
			</div>
		</div>

		<!-- PANEL DESKTOP -->
		<div wicket:id="panelDesktop" style="margin-top: 5px;">

			<script type="text/javascript">
									$(document).ready(function($) {
										$('[data-toggle="popover"]').popover({ html: true});
									});
		    					</script>

			<!-- TABELA ALFANUMERICO -->
			<table class="table" style="margin-bottom: 0px;">
				<tbody>
					<tr wicket:id="listaAlfanumericoFornecedor">
						<td width="50%" class="td-fornecedor">
							<!-- PANEL ALFANUMERICA -->
							<div wicket:id="panelFormatacaoAlfanumericaFornecedor" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div style="margin-right: 10px;" class="pull-right">
										<span wicket:id="lblInfo"></span>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- REPOSTA -->
								<div class="form-group">
									<div class="col-xs-offset-1 col-sm-offset-1 col-sm-10 col-xs-10">
										<input wicket:id="textoAlfanumerico" type="text" class="form-control" />
									</div>
								</div>
								<br />
							</div>
						</td>

						<td class="td-fornecedor" width="50%"></td>
					</tr>

					<tr wicket:id="listaAlfanumericoBeneficiario">
						<td class="td-beneficiario" width="50%"></td>
						<td width="50%" class="td-beneficiario">
							<!-- PANEL ALFANUMERICA -->
							<div wicket:id="panelFormatacaoAlfanumericaBeneficiario" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div style="margin-right: 10px;" class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- REPOSTA -->
								<div class="form-group">
									<div class="col-xs-offset-1 col-sm-offset-1 col-sm-10 col-xs-10">
										<input wicket:id="textoAlfanumerico" type="text" class="form-control" />
									</div>
								</div>
								<br />
							</div>
						</td>
					</tr>

					<tr wicket:id="listaAlfanumericoAmbos">

						<td width="50%" class="td-fornecedor">
							<!-- PANEL ALFANUMERICA -->
							<div wicket:id="panelFormatacaoAlfanumericaAmbosFornecedor" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div style="margin-right: 10px;" class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- REPOSTA -->
								<div class="form-group">
									<div class="col-xs-offset-1 col-sm-offset-1 col-sm-10 col-xs-10">
										<input wicket:id="textoAlfanumerico" type="text" class="form-control" />
									</div>
								</div>
								<br />
							</div>
						</td>


						<td width="50%" class="td-beneficiario">
							<!-- PANEL ALFANUMERICA -->
							<div wicket:id="panelFormatacaoAlfanumericaAmbosBeneficiario" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div style="margin-right: 10px;" class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- REPOSTA -->
								<div class="form-group">
									<div class="col-xs-offset-1 col-sm-offset-1 col-sm-10 col-xs-10">
										<input wicket:id="textoAlfanumerico" type="text" class="form-control" />
									</div>
								</div>
								<br />
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- TABELA ANEXO -->
			<table class="table" style="margin-bottom: 0px;">
				<tbody>
					<tr wicket:id="listaRespostaAnexoFornecedor">
						<td width="50%" class="td-fornecedor">
							<!-- PANEL ANEXO -->
							<div wicket:id="panelFormatacaoAnexoFornecedor" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- NOME, TAMANHO E DOWNLOAD -->
								<div class="form-group">
									<div style="padding-top: 3px; margin-bottom: 15px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<span wicket:id="txtLabelNomeAnexo"></span> <span style="margin-left: 10px;" wicket:id="txtLabelTamanhoAnexo"></span>

										<button wicket:id="btnDonwload" title="Baixar arquivo" class="btn btn-success btn-sm">
											<i class="fa fa-download"></i>
										</button>
									</div>
								</div>
							</div>
						</td>

						<td class="td-fornecedor" width="50%"></td>

					</tr>

					<tr wicket:id="listaRespostaAnexoBeneficiario">
						<td class="td-beneficiario" width="50%"></td>
						<td width="50%" class="td-beneficiario">
							<!-- PANEL ANEXO -->
							<div wicket:id="panelFormatacaoAnexoBeneficiario" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- NOME, TAMANHO E DOWNLOAD -->
								<div class="form-group">
									<div style="padding-top: 3px; margin-bottom: 15px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<span wicket:id="txtLabelNomeAnexo"></span> <span style="margin-left: 10px;" wicket:id="txtLabelTamanhoAnexo"></span>

										<button wicket:id="btnDonwload" title="Baixar arquivo" class="btn btn-success btn-sm">
											<i class="fa fa-download"></i>
										</button>
									</div>
								</div>
							</div>
						</td>
					</tr>

					<tr wicket:id="listaRespostaAnexoAmbos">
						<td width="50%" class="td-fornecedor">
							<!-- PANEL ANEXO -->
							<div wicket:id="panelFormatacaoAnexoAmbosFornecedor" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- NOME, TAMANHO E DOWNLOAD -->
								<div class="form-group">
									<div style="padding-top: 3px; margin-bottom: 15px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<span wicket:id="txtLabelNomeAnexo"></span> <span style="margin-left: 10px;" wicket:id="txtLabelTamanhoAnexo"></span>

										<button wicket:id="btnDonwload" title="Baixar arquivo" class="btn btn-success btn-sm">
											<i class="fa fa-download"></i>
										</button>
									</div>
								</div>
							</div>
						</td>
						<td width="50%" class="td-fornecedor">
							<!-- PANEL ANEXO -->
							<div wicket:id="panelFormatacaoAnexoAmbosBeneficiario" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- NOME, TAMANHO E DOWNLOAD -->
								<div class="form-group">
									<div style="padding-top: 3px; margin-bottom: 15px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<span wicket:id="txtLabelNomeAnexo"></span> <span style="margin-left: 10px;" wicket:id="txtLabelTamanhoAnexo"></span>

										<button wicket:id="btnDonwload" title="Baixar arquivo" class="btn btn-success btn-sm">
											<i class="fa fa-download"></i>
										</button>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- TABELA BOLEANO -->
			<table class="table" style="margin-bottom: 0px;">
				<tbody>
					<tr wicket:id="listaRespostaBoleanoFonecedor">
						<td width="50%" class="td-fornecedor">
							<!-- PANEL BOLEANO -->
							<div wicket:id="panelFormatacaoBoleanoFornecedor" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- REPOSTA -->
								<div class="form-group">
									<div class="col-xs-offset-1 col-sm-offset-1 col-sm-10 col-xs-10">
										<span wicket:id="radioBoleano"></span>
									</div>
								</div>
								<br />
							</div>
						</td>

						<td class="td-fornecedor" width="50%"></td>
					</tr>

					<tr wicket:id="listaRespostaBoleanoBeneficiario">
						<td class="td-beneficiario" width="50%"></td>
						<td width="50%" class="td-beneficiario">
							<!-- PANEL BOLEANO -->
							<div wicket:id="panelFormatacaoBoleanoBeneficiario" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- REPOSTA -->
								<div class="form-group">
									<div class="col-xs-offset-1 col-sm-offset-1 col-sm-10 col-xs-10">
										<span wicket:id="radioBoleano"></span>
									</div>
								</div>
								<br />
							</div>
						</td>
					</tr>

					<tr wicket:id="listaRespostaBoleanoAmbos">
						<td width="50%" class="td-fornecedor">
							<!-- PANEL BOLEANO -->
							<div wicket:id="panelFormatacaoBoleanoAmbosFornecedor" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- REPOSTA -->
								<div class="form-group">
									<div class="col-xs-offset-1 col-sm-offset-1 col-sm-10 col-xs-10">
										<span wicket:id="radioBoleano"></span>
									</div>
								</div>
								<br />
							</div>
						</td>
						<td width="50%" class="td-fornecedor">
							<!-- PANEL BOLEANO -->
							<div wicket:id="panelFormatacaoBoleanoAmbosBeneficiario" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- REPOSTA -->
								<div class="form-group">
									<div class="col-xs-offset-1 col-sm-offset-1 col-sm-10 col-xs-10">
										<span wicket:id="radioBoleano"></span>
									</div>
								</div>
								<br />
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- TABELA DATA -->
			<table class="table" style="margin-bottom: 0px;">
				<tbody>
					<tr wicket:id="listaRespostaDataFornecedor">
						<td width="50%" class="td-fornecedor">
							<!-- PANEL DATA -->
							<div wicket:id="panelFormatacaoDataFornecedor" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- REPOSTA -->
								<div class="form-group">
									<div class="col-xs-offset-1 col-sm-offset-1 col-sm-3 col-xs-10">
										<input wicket:id="data" type="text" class="form-control" />
									</div>
								</div>
								<br />
							</div>
						</td>

						<td class="td-fornecedor" width="50%"></td>
					</tr>

					<tr wicket:id="listaRespostaDataBeneficiario">
						<td class="td-beneficiario" width="50%"></td>
						<td width="50%" class="td-beneficiario">
							<!-- PANEL DATA -->
							<div wicket:id="panelFormatacaoDataBeneficiario" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- REPOSTA -->
								<div class="form-group">
									<div class="col-xs-offset-1 col-sm-offset-1 col-sm-3 col-xs-10">
										<input wicket:id="data" type="text" class="form-control" />
									</div>
								</div>
								<br />
							</div>
						</td>
					</tr>
					<tr wicket:id="listaRespostaDataAmbos">
						<td width="50%" class="td-fornecedor">
							<!-- PANEL DATA -->
							<div wicket:id="panelFormatacaoDataAmbosFornecedor" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- REPOSTA -->
								<div class="form-group">
									<div class="col-xs-offset-1 col-sm-offset-1 col-sm-3 col-xs-10">
										<input wicket:id="data" type="text" class="form-control" />
									</div>
								</div>
								<br />
							</div>
						</td>
						<td width="50%" class="td-fornecedor">
							<!-- PANEL DATA -->
							<div wicket:id="panelFormatacaoDataAmbosBeneficiario" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- REPOSTA -->
								<div class="form-group">
									<div class="col-xs-offset-1 col-sm-offset-1 col-sm-3 col-xs-10">
										<input wicket:id="data" type="text" class="form-control" />
									</div>
								</div>
								<br />
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- TABELA FOTO -->
			<table class="table" style="margin-bottom: 0px;">
				<tbody>
					<tr wicket:id="listaRespostaFotoFornecedor">
						<td width="50%" class="td-fornecedor">
							<!-- PANEL FOTO -->
							<div wicket:id="panelFormatacaoFotoFornecedor" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- RESPOSTA -->
								<div class="form-group">

									<!-- PREVIEW DA FOTO -->
									<img class="img-thumbnail img-responsive" id="imagePreview" wicket:id="imagemFoto" />

								</div>

								<div class="form-group">
									<label class="col-sm-1 col-xs-offset-1 col-sm-offset-1 control-label">Data</label>
									<div class="col-sm-5">
										<span wicket:id="txtLabelDataFoto"></span>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-1 col-xs-offset-1 col-sm-offset-1 control-label">GPS</label>
									<div class="col-sm-5">
										<span wicket:id="txtLabelLatitudeLongitude"></span>
									</div>
								</div>

								<br />

								<!-- PANEL IDENTIFICADOR UNICO -->
								<div wicket:id="panelFormatacaoIdentificadorUnico">
									<div class="form-group">
										<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
											<strong><span>Identificador único</span></strong>
										</div>
									</div>
									<div class="form-group">
										<div class="col-xs-offset-1 col-sm-offset-1 col-sm-10 col-xs-10">
											<input wicket:id="textoIdentificadorUnico" type="text" class="form-control" />
										</div>
									</div>
									<br />
								</div>
							</div>
						</td>

						<td class="td-fornecedor" width="50%"></td>
					</tr>

					<tr wicket:id="listaRespostaFotoBeneficiario">
						<td class="td-beneficiario" width="50%"></td>
						<td width="50%" class="td-beneficiario">
							<!-- PANEL FOTO -->
							<div wicket:id="panelFormatacaoFotoBeneficiario" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- RESPOSTA -->
								<div class="form-group">

									<!-- PREVIEW DA FOTO -->
									<img class="img-thumbnail img-responsive" id="imagePreview" wicket:id="imagemFoto" />

								</div>

								<div class="form-group">
									<label class="col-sm-1 col-xs-offset-1 col-sm-offset-1 control-label">Data</label>
									<div class="col-sm-5">
										<span wicket:id="txtLabelDataFoto"></span>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-1 col-xs-offset-1 col-sm-offset-1 control-label">GPS</label>
									<div class="col-sm-5">
										<span wicket:id="txtLabelLatitudeLongitude"></span>
									</div>
								</div>

								<br />

								<!-- PANEL IDENTIFICADOR UNICO -->
								<div wicket:id="panelFormatacaoIdentificadorUnico">
									<div class="form-group">
										<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
											<strong><span>Identificador único</span></strong>
										</div>
									</div>
									<div class="form-group">
										<div class="col-xs-offset-1 col-sm-offset-1 col-sm-10 col-xs-10">
											<input wicket:id="textoIdentificadorUnico" type="text" class="form-control" />
										</div>
									</div>
									<br />
								</div>
							</div>
						</td>
					</tr>
					<tr wicket:id="listaRespostaFotoAmbos">
						<td width="50%" class="td-fornecedor">
							<!-- PANEL FOTO -->
							<div wicket:id="panelFormatacaoFotoAmbosFornecedor" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- RESPOSTA -->
								<div class="form-group">

									<!-- PREVIEW DA FOTO -->
									<img class="img-thumbnail img-responsive" id="imagePreview" wicket:id="imagemFoto" />

								</div>

								<div class="form-group">
									<label class="col-sm-1 col-xs-offset-1 col-sm-offset-1 control-label">Data</label>
									<div class="col-sm-5">
										<span wicket:id="txtLabelDataFoto"></span>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-1 col-xs-offset-1 col-sm-offset-1 control-label">GPS</label>
									<div class="col-sm-5">
										<span wicket:id="txtLabelLatitudeLongitude"></span>
									</div>
								</div>

								<br />

								<!-- PANEL IDENTIFICADOR UNICO -->
								<div wicket:id="panelFormatacaoIdentificadorUnico">
									<div class="form-group">
										<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
											<strong><span>Identificador único</span></strong>
										</div>
									</div>
									<div class="form-group">
										<div class="col-xs-offset-1 col-sm-offset-1 col-sm-10 col-xs-10">
											<input wicket:id="textoIdentificadorUnico" type="text" class="form-control" />
										</div>
									</div>
									<br />
								</div>
							</div>
						</td>
						<td width="50%" class="td-fornecedor">
							<!-- PANEL FOTO -->
							<div wicket:id="panelFormatacaoFotoAmbosBeneficiario" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- RESPOSTA -->
								<div class="form-group">

									<!-- PREVIEW DA FOTO -->
									<img class="img-thumbnail img-responsive" id="imagePreview" wicket:id="imagemFoto" />

								</div>

								<div class="form-group">
									<label class="col-sm-1 col-xs-offset-1 col-sm-offset-1 control-label">Data</label>
									<div class="col-sm-5">
										<span wicket:id="txtLabelDataFoto"></span>
									</div>
								</div>

								<div class="form-group">
									<label class="col-sm-1 col-xs-offset-1 col-sm-offset-1 control-label">GPS</label>
									<div class="col-sm-5">
										<span wicket:id="txtLabelLatitudeLongitude"></span>
									</div>
								</div>

								<br />

								<!-- PANEL IDENTIFICADOR UNICO -->
								<div wicket:id="panelFormatacaoIdentificadorUnico">
									<div class="form-group">
										<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
											<strong><span>Identificador único</span></strong>
										</div>
									</div>
									<div class="form-group">
										<div class="col-xs-offset-1 col-sm-offset-1 col-sm-10 col-xs-10">
											<input wicket:id="textoIdentificadorUnico" type="text" class="form-control" />
										</div>
									</div>
									<br />
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- TABELA NUMERICO -->
			<table class="table" style="margin-bottom: 0px;">
				<tbody>
					<tr wicket:id="listaRespostaNumericoFornecedor">
						<td width="50%" class="td-fornecedor">
							<!-- PANEL NUMERICO -->
							<div wicket:id="panelFormatacaoNumericoFornecedor" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- RESPOSTA -->
								<div class="form-group">
									<div class="col-xs-offset-1 col-sm-offset-1 col-sm-10 col-xs-10">
										<input wicket:id="textoNumerico" type="text" class="form-control" onkeypress='return somenteNumero(event)' />
									</div>
								</div>
								<br />
							</div>
						</td>
						<td class="td-fornecedor" width="50%"></td>
					</tr>

					<tr wicket:id="listaRespostaNumericoBeneficiario">
						<td class="td-beneficiario" width="50%"></td>
						<td width="50%" class="td-beneficiario">
							<!-- PANEL NUMERICO -->
							<div wicket:id="panelFormatacaoNumericoBeneficiario" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- RESPOSTA -->
								<div class="form-group">
									<div class="col-xs-offset-1 col-sm-offset-1 col-sm-10 col-xs-10">
										<input wicket:id="textoNumerico" type="text" class="form-control" onkeypress='return somenteNumero(event)' />
									</div>
								</div>
								<br />
							</div>
						</td>
					</tr>
					<tr wicket:id="listaRespostaNumericoAmbos">
						<td width="50%" class="td-fornecedor">
							<!-- PANEL NUMERICO -->
							<div wicket:id="panelFormatacaoNumericoAmbosFornecedor" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- RESPOSTA -->
								<div class="form-group">
									<div class="col-xs-offset-1 col-sm-offset-1 col-sm-10 col-xs-10">
										<input wicket:id="textoNumerico" type="text" class="form-control" onkeypress='return somenteNumero(event)' />
									</div>
								</div>
								<br />
							</div>
						</td>
						<td width="50%" class="td-fornecedor">
							<!-- PANEL NUMERICO -->
							<div wicket:id="panelFormatacaoNumericoAmbosBeneficiario" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- RESPOSTA -->
								<div class="form-group">
									<div class="col-xs-offset-1 col-sm-offset-1 col-sm-10 col-xs-10">
										<input wicket:id="textoNumerico" type="text" class="form-control" onkeypress='return somenteNumero(event)' />
									</div>
								</div>
								<br />
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- TABELA TEXTO -->
			<table class="table" style="margin-bottom: 0px;">
				<tbody>
					<tr wicket:id="listaRespostaTextoFornecedor">
						<td width="50%" class="td-fornecedor">
							<!-- PANEL TEXTO -->
							<div wicket:id="panelFormatacaoTextoFornecedor" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- RESPOSTA -->
								<div class="form-group">
									<div class="col-xs-offset-1 col-sm-offset-1 col-sm-10 col-xs-10">
										<textarea wicket:id="textAreaTexto" class="form-control" tabindex="7" rows="9" placeholder="Texto"></textarea>
									</div>
								</div>
								<br />
							</div>
						</td>
						<td class="td-fornecedor" width="50%"></td>
					</tr>

					<tr wicket:id="listaRespostaTextoBeneficiario">
						<td class="td-beneficiario" width="50%"></td>
						<td width="50%" class="td-beneficiario">
							<!-- PANEL TEXTO -->
							<div wicket:id="panelFormatacaoTextoBeneficiario" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- RESPOSTA -->
								<div class="form-group">
									<div class="col-xs-offset-1 col-sm-offset-1 col-sm-10 col-xs-10">
										<textarea wicket:id="textAreaTexto" class="form-control" tabindex="7" rows="9" placeholder="Texto"></textarea>
									</div>
								</div>
								<br />
							</div>
						</td>
					</tr>
					<tr wicket:id="listaRespostaTextoAmbos">
						<td width="50%" class="td-fornecedor">
							<!-- PANEL TEXTO -->
							<div wicket:id="panelFormatacaoTextoAmbosFornecedor" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- RESPOSTA -->
								<div class="form-group">
									<div class="col-xs-offset-1 col-sm-offset-1 col-sm-10 col-xs-10">
										<textarea wicket:id="textAreaTexto" class="form-control" tabindex="7" rows="9" placeholder="Texto"></textarea>
									</div>
								</div>
								<br />
							</div>
						</td>
						<td width="50%" class="td-fornecedor">
							<!-- PANEL TEXTO -->
							<div wicket:id="panelFormatacaoTextoAmbosBeneficiario" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- RESPOSTA -->
								<div class="form-group">
									<div class="col-xs-offset-1 col-sm-offset-1 col-sm-10 col-xs-10">
										<textarea wicket:id="textAreaTexto" class="form-control" tabindex="7" rows="9" placeholder="Texto"></textarea>
									</div>
								</div>
								<br />
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- TABELA VIDEO -->
			<table class="table" style="margin-bottom: 0px;">
				<tbody>
					<tr wicket:id="listaRespostaVideoFornecedor">
						<td width="50%" class="td-fornecedor">
							<!-- PANEL VIDEO -->
							<div wicket:id="panelFormatacaoVideoFornecedor" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- NOME, TAMANHO E DOWNLOAD -->
								<div class="form-group">
									<div style="padding-top: 3px; margin-bottom: 15px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<span wicket:id="txtLabelNomeAnexo"></span> <span style="margin-left: 10px;" wicket:id="txtLabelTamanhoAnexo"></span>

										<button wicket:id="btnDonwload" title="Baixar arquivo" class="btn btn-success btn-sm">
											<i class="fa fa-download"></i>
										</button>
									</div>
								</div>
							</div>
						</td>
						<td class="td-fornecedor" width="50%"></td>
					</tr>

					<tr wicket:id="listaRespostaVideoBeneficiario">
						<td class="td-beneficiario" width="50%"></td>
						<td width="50%" class="td-beneficiario">
							<!-- PANEL VIDEO -->
							<div wicket:id="panelFormatacaoVideoBeneficiario" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- NOME, TAMANHO E DOWNLOAD -->
								<div class="form-group">
									<div style="padding-top: 3px; margin-bottom: 15px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<span wicket:id="txtLabelNomeAnexo"></span> <span style="margin-left: 10px;" wicket:id="txtLabelTamanhoAnexo"></span>

										<button wicket:id="btnDonwload" title="Baixar arquivo" class="btn btn-success btn-sm">
											<i class="fa fa-download"></i>
										</button>
									</div>
								</div>
							</div>
						</td>
					</tr>
					<tr wicket:id="listaRespostaVideoAmbos">
						<td width="50%" class="td-fornecedor">
							<!-- PANEL VIDEO -->
							<div wicket:id="panelFormatacaoVideoAmbosFornecedor" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- NOME, TAMANHO E DOWNLOAD -->
								<div class="form-group">
									<div style="padding-top: 3px; margin-bottom: 15px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<span wicket:id="txtLabelNomeAnexo"></span> <span style="margin-left: 10px;" wicket:id="txtLabelTamanhoAnexo"></span>

										<button wicket:id="btnDonwload" title="Baixar arquivo" class="btn btn-success btn-sm">
											<i class="fa fa-download"></i>
										</button>
									</div>
								</div>
							</div>
						</td>
						<td width="50%" class="td-beneficiario">
							<!-- PANEL VIDEO -->
							<div wicket:id="panelFormatacaoVideoAmbosBeneficiario" class="box box-primary form-horizontal">

								<!-- TITULO DO QUESITO -->
								<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
									<h1 class="box-title">
										<span wicket:id="txtLabelTituloQuesito"></span>
									</h1>

									<div class="pull-right">
										<i wicket:id="lblInfo"></i>
									</div>
								</div>

								<!-- ORIENTACAO AO FORNECEDOR/BENEFICIARIO -->
								<div class="form-group">
									<div style="padding-top: 7px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<strong><span wicket:id="txtLabelOrientacaoFornecedor"></span></strong>
									</div>
								</div>

								<!-- NOME, TAMANHO E DOWNLOAD -->
								<div class="form-group">
									<div style="padding-top: 3px; margin-bottom: 15px;" class="col-xs-offset-1 col-sm-offset-1 col-sm-10">
										<span wicket:id="txtLabelNomeAnexo"></span> <span style="margin-left: 10px;" wicket:id="txtLabelTamanhoAnexo"></span>

										<button wicket:id="btnDonwload" title="Baixar arquivo" class="btn btn-success btn-sm">
											<i class="fa fa-download"></i>
										</button>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- Panel CONFORMIDADE -->
			<div wicket:id="panelFormatacaoConformidadeItem" class="div-input-margem box box-primary form-horizontal" style="margin-right: 10px;">

				<div style="padding-left: 2px;" class="box-header with-border col-xs-offset-1 col-sm-offset-1 col-sm-10">
					<h1 class="box-title">
						<span>* Conformidade do Item</span>
					</h1>

					<div class="pull-right">
						<span wicket:id="lblInfoConformidade"></span>
					</div>
				</div>

				<!-- PRIMEIRO QUESITO -->
				<div class="form-group">
					<div class="col-xs-offset-1 col-sm-offset-1 col-sm-10 col-xs-10">
						<strong><span>O item está em estado de novo?</span></strong> <span style="" wicket:id="radioItemNovo"></span>
					</div>
				</div>

				<!-- SEGUNDO QUESITO -->
				<div class="form-group" style="margin-bottom: 0px;">
					<div class="col-xs-offset-1 col-sm-offset-1 col-sm-10 col-xs-10">
						<strong><span>O item está funcionando de acordo com as especificações?</span></strong> <span wicket:id="radioFunciona"></span>
					</div>
				</div>

				<!-- JUSTIFICATIVA DO SEGUNDO QUESITO -->
				<div class="form-group">
					<div class="col-xs-offset-1 col-sm-offset-1 col-sm-5 col-xs-5">
						<textarea wicket:id="textAreaJustificativaNaoFunciona" class="form-control" rows="4" placeholder="Justificativa"></textarea>
					</div>
				</div>

				<!-- TERCEIRO QUESITO -->
				<div class="form-group" style="margin-bottom: 0px;">
					<div class="col-xs-offset-1 col-sm-offset-1 col-sm-10 col-xs-10">
						<strong><span>O item está configurado de acordo com as especificações?</span></strong> <span wicket:id="radioConfigurado"></span>
					</div>
				</div>

				<!-- JUSTIFICATIVA DO TERCEIRO QUESITO -->
				<div class="form-group">
					<div class="col-xs-offset-1 col-sm-offset-1 col-sm-5 col-xs-5">
						<textarea wicket:id="textAreaJustificativaNaoConfigurado" class="form-control" rows="4" placeholder="Justificativa"></textarea>
					</div>
				</div>
			</div>
		</div>
	</form>
</wicket:panel>