<!DOCTYPE html>
<wicket:panel xmlns:wicket="http://wicket.apache.org">

	<style>
.custom {
	width: 175px !important;
}
</style>

	<div wicket:id="panelPrincipal">

		<a title="Planejamento" class="btn btn-default btn-sm custom" wicket:id="btnPlanejamento">
			<i class="fa fa-shopping-cart"></i> 1. Planejamento
		</a>

		<a title="Contrato" class="btn btn-default btn-sm custom" wicket:id="btnContrato">
			<i class="fa fa-newspaper-o"></i> 2. Contrato
		</a>

		<a title="Formatação de Itens" class="btn btn-default btn-sm custom" wicket:id="btnFormatacaoItens">
			<i class="fa fa-gavel"></i> 3. Formatação de Itens
		</a>

		<a title="Gerar OS" class="btn btn-default btn-sm custom" wicket:id="btnOs">
			<i class="fa fa-clipboard"></i> 4. Ordem de Fornecimento
		</a>
	</div>
</wicket:panel>