<!DOCTYPE html>
<wicket:panel xmlns:wicket="http://wicket.apache.org">

	<div wicket:id="panelDadosLicitacao">
		<div class="form-group">
			<label class="col-sm-3 control-label" for="descricaoCriterioAcompanhamento">* Objeto</label>
			<div class="col-sm-6">
				<textarea class="form-control" rows="5" placeholder="Objeto" wicket:id="txtObjeto"></textarea>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label" for="descricaoCriterioAcompanhamento">* Justificativa</label>
			<div class="col-sm-6">
				<textarea class="form-control" rows="5" placeholder="Justificativa" wicket:id="txtJustificativa"></textarea>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label" for="descricaoCriterioAcompanhamento">* Especificações e Quantidade do Objeto </label>
			<div class="col-sm-6">
				<textarea class="form-control" rows="5" placeholder="Especificações e Quantidade do Objeto" wicket:id="txtEspecificacao"></textarea>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label" for="descricaoCriterioAcompanhamento">* Recebimento e Aceitação dos Materiais </label>
			<div class="col-sm-6">
				<textarea class="form-control" rows="5" placeholder="Recebimento e Aceitação dos Materiais" wicket:id="txtRecebimento"></textarea>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label" for="descricaoCriterioAcompanhamento">* Prazo, Local e Forma de Entrega </label>
			<div class="col-sm-6">
				<textarea class="form-control" rows="5" placeholder=" Prazo, Local e Forma de Entrega" wicket:id="txtPrazo"></textarea>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label" for="descricaoCriterioAcompanhamento">* Metodologia de Avaliação e Aceite dos Materiais </label>
			<div class="col-sm-6">
				<textarea class="form-control" rows="5" placeholder=" Metodologia de Avaliação e Aceite dos Materiais" wicket:id="txtMetodologia"></textarea>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label" for="dataInicio"> * Período de Execução </label>
			<div class="row col-sm-7">
				<div class="col-sm-4">
					<input type="text" placeholder="Período de Execução" class="form-control" wicket:id="dataInicio" />
				</div>
				<div class="col-sm-7">
					<label class="col-sm-1 control-label" for="dataFinal"> a </label>
					<div class="col-sm-8">
						<input type="text" placeholder="Termino Período Execução" class="form-control" wicket:id="dataFinal" />
					</div>
				</div>
			</div>
		</div>
	</div>
	<br />
</wicket:panel>