<wicket:panel>
	<div wicket:id="panelPrincipalEntidade">
		<script>
			$(document).ready(function() {
				$("#tipoEntidade").select2();
				$("#personalidadeJuridica").select2();
				$("#tipoEndereco").select2();
				$("#statusEntidade").select2();
			});
		</script>

		<div class="form-group">
			<label class="col-sm-3 control-label" for="tipoEntidade"><span class="obrigatorio">*</span> Tipo</label>
			<div class="row col-sm-7">
				<div class="col-sm-4">
					<select class="js-example-basic-single" style="width: 100%" id="tipoEntidade" wicket:id="tipoEntidade"></select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" for="nomeEnt"><span class="obrigatorio">*</span> Nome</label>
			<div class="col-sm-6">
				<input type="text" placeholder="Nome" class="form-control" id="nomeEnt" wicket:id="nomeEntidade" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" for="personalidadeJuridica"><span class="obrigatorio">*</span> Natureza Jurídica</label>
			<div class="row col-sm-7">
				<div class="col-sm-4">
					<select class="js-example-basic-single" style="width: 100%" id="personalidadeJuridica" wicket:id="personalidadeJuridica"></select>
				</div>
			</div>
		</div>

		<div wicket:id="panelUfMunicipio">
			<script>
				$(document).ready(function() {
					$("#nomeUf").select2();
					$("#municipio").select2();
				});
			</script>
			<div class="form-group">
				<label class="col-sm-3 control-label" for="estadoEntidade"> <span class="obrigatorio">*</span> Estado
				</label>
				<div class="row col-sm-7">
					<div class="col-sm-4">
						<select class="js-example-basic-single" style="width: 100%" id="nomeUf" wicket:id="nomeUf"></select>
					</div>

					<div class="col-sm-8">
						<label class="col-sm-3 control-label" for="municipio"><span class="obrigatorio">*</span> Município</label>
						<div class="col-sm-7">
							<select class="js-example-basic-single" style="width: 100%" id="municipio" wicket:id="municipio"></select>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label" for="tipoEndereco"> <span class="obrigatorio">*</span> Tipo de Endereço
			</label>
			<div class="row col-sm-7">
				<div class="col-sm-4">
					<select class="js-example-basic-single" style="width: 100%" id="tipoEndereco" wicket:id="tipoEndereco"></select>
				</div>

				<div class="col-sm-8">
					<label class="col-sm-3 control-label" for="enderecoEnt"><span class="obrigatorio">*</span> Endereço</label>
					<div class="col-sm-7">
						<input type="text" placeholder="Endereço" class="form-control" id="enderecoEnt" wicket:id=descricaoEndereco />
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label" for="numero"><span class="obrigatorio">*</span> Número</label>
			<div class="row col-sm-7">
				<div class="col-sm-4">
					<input type="text" placeholder="Número" class="form-control" id="numero" wicket:id="numeroEndereco" />
				</div>
				<div class="col-sm-8">
					<label class="col-sm-3 control-label" for="complementoEnt"> Complemento </label>
					<div class="col-sm-7">
						<input type="text" placeholder="Complemento" class="form-control" id="complementoEnt" wicket:id="complementoEndereco" />
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label" for="bairro"><span class="obrigatorio">*</span> Bairro</label>
			<div class="row col-sm-7">
				<div class="col-sm-4">
					<input type="text" placeholder="Bairro" class="form-control" id="bairro" wicket:id="bairro" />
				</div>
				<div class="col-sm-8">
					<label class="col-sm-3 control-label" for="cepEnt"><span class="obrigatorio">*</span> CEP</label>
					<div class="col-sm-7">
						<input type="text" placeholder="CEP" class="form-control mask-cep" id="cepEnt" wicket:id="numeroCep" />
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label" for="telefoneEnt"><span class="obrigatorio">*</span> Telefone</label>
			<div class="row col-sm-7">
				<div class="col-sm-4">
					<input type="text" placeholder="Telefone" class="form-control mask-telefone" id="telefoneEnt" wicket:id="numeroTelefone" />
				</div>
				<div class="col-sm-8">
					<label class="col-sm-3 control-label" for="telefoneFax">Telefone/FAX</label>
					<div class="col-sm-7">
						<input type="text" placeholder="Telefone / FAX" class="form-control mask-telefone" id="telefoneFax" wicket:id="numeroFoneFax" />
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label" for="emailEnt"><span class="obrigatorio">*</span> E-Mail</label>
			<div class="row col-sm-7">
				<div class="col-sm-4">
					<input type="text" placeholder="Email" class="form-control" id="emailEnt" wicket:id="email" />
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-3 control-label" for="processoId"><span wicket:id="lblProcessoSei"></span></label>
			<div class="row col-sm-7">
				<div class="col-sm-4">
					<input type="text" placeholder="Nº Processo (NUP)" class="form-control mask-numero-sei" id="processoId" wicket:id="numeroProcessoSEI" />
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label" wicket:id="lblAtivar"></label>
			<div class="row col-sm-7">
				<div class="col-sm-4">
					<select wicket:id="statusEntidade" class="js-example-basic-single" id="statusEntidade" style="width: 100%;"></select>
				</div>
			</div>
		</div>
	</div>
</wicket:panel>
