<!DOCTYPE html>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
	<div class="form-horizontal" wicket:id="panelPrincipal">
		<div wicket:id="panelOk">
			<a title="Informações da Entidade" id="btnInformacoesEntidade" class="btn btn-primary btn-sm custom"> <i class="glyphicon glyphicon-equalizer"></i>
			</a>
		</div>

		<div wicket:id="panelErro">
			<a title="Informações da Entidade" id="btnInformacoesEntidade" class="btn btn-primary btn-sm custom"> <i class="glyphicon glyphicon-pencil"></i>
			</a>
		</div>
	</div>
</wicket:panel>