<wicket:panel>

	<div class="box box-primary">
		<div class="box-header with-border">
				<h3 class="box-title">Proponente</h3>
		</div>

		<div class="box-body">

			<div class="row">
				<div class="col-md-2">
					<label>CNPJ</label>
				</div>
				<div class="col-md-6">
					<span wicket:id="numeroCnpj"></span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<label>Nome</label>
				</div>
				<div class="col-md-6">
					<span wicket:id="nomeEntidade"></span>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-2">
					<label>Tipo</label>
				</div>
				<div class="col-md-6">
					<span wicket:id="tipoEntidade"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<label>Endereço</label>
				</div>
				<div class="col-md-6">
					<span wicket:id="endereco"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<label>Telefone</label>
				</div>
				<div class="col-md-6">
					<span wicket:id="numeroTelefone"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<label>E-Mail</label>
				</div>
				<div class="col-md-6">
					<span wicket:id="email"></span>
				</div>
			</div>

		</div>
	</div>

</wicket:panel>
