<wicket:panel>

	<div class="box box-primary">
		<div class="box-header with-border">
				<h3 class="box-title">Programa</h3>
		</div>
		<div class="box-body">
		
		<div class="row">
				<div class="col-md-2"><label>Código do Programa</label></div>
				<div class="col-md-6">
					<span wicket:id="codigoIdentificadorProgramaPublicado"></span>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-2"><label>Nome do Programa</label></div>
				<div class="col-md-6">
					<span wicket:id="nomePrograma"></span>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-2"><label>Valor Total do Programa</label></div>
				<div class="col-md-6">
					<span wicket:id="valorTotalPrograma"></span>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-2"><label>Órgão Executor</label></div>
				<div class="col-md-6">
					<span wicket:id="orgaoExecutor"></span>
				</div>
			</div>
		</div>
	</div>

</wicket:panel>