<!DOCTYPE html>
<wicket:panel xmlns:wicket="http://wicket.apache.org">

	<style>
.custom {
	width: 175px !important;
}
</style>

	<div wicket:id="panelPrincipal">

		<a title="Análise Entrega" class="btn btn-default btn-sm custom" wicket:id="btnAnaliseEntrega">
			<i class="fa fa-truck" aria-hidden="true"></i> 1. Análise Entrega
		</a>
		
		<a title="Termo de Doação" class="btn btn-default btn-sm custom" wicket:id="btnTermoDoacao">
			<i class="glyphicon glyphicon-list-alt"></i> 2. Termo de Doação
		</a>
		
		<a title="Confirmar Doação" class="btn btn-default btn-sm custom" wicket:id="btnConfirmarDoacao">
			<i class="glyphicon glyphicon-duplicate"></i> 3. Confirmar Doação
		</a>
		
	</div>
</wicket:panel>