<!DOCTYPE html>
<wicket:extend xmlns:wicket="http://wicket.apache.org">

		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-blue"><i class="fa fa-bell-o"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">TOTAL DE NOTIFICAÇÕES</span> <span
							class="info-box-number">300</span>
					</div>
					<!-- /.info-box-content -->
				</div>
				<!-- /.info-box -->
			</div>
			<!-- /.col -->
			<div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-envelope-o"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">NOTIFICAÇÕES DE EMAIL</span>
                  <span class="info-box-number">50</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div><!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-flag-checkered"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">NOTIFICAÇÕES DO SISTEMA</span>
                  <span class="info-box-number">100</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div><!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-exclamation"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">NOTIFICAÇÕES DE ALERTA</span>
                  <span class="info-box-number">150</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
            </div><!-- /.col -->
		</div>
		
	<!-- Painel Termos de Doação Gerados -->
		<div>
			<div class="box box-primary form-horizontal">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>ID</th>
								<th>Mensagem</th>
								<th>Data</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><span>1</span></td>
								<td><span>Email enviado</span></td>
								<td><span>20/07/2016</span></td>
								<td><span>Lido</span></td>
							</tr>
						</tbody>
					</table>

					<div class="panel-footer">
						<div></div>
					</div>

				</div>
			</div>
		</div>

</wicket:extend>