<!DOCTYPE html>
<wicket:panel xmlns:wicket="http://wicket.apache.org">

	<div class="box box-primary">
		<div class="box-header with-border">
			<h3 class="box-title">Informações Gerais</h3>
		</div>
		<div class="box-body">
			<div class="row">
				<div class="col-md-2">
					<label>Código do Programa</label>
				</div>
				<div class="col-md-6">
					<span wicket:id="codigoIdentificadorProgramaPublicado"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<label>Nome do Programa</label>
				</div>
				<div class="col-md-6">
					<span wicket:id="nomePrograma"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<label>Nome Fantasia</label>
				</div>
				<div class="col-md-6">
					<span wicket:id="nomeFantasiaPrograma"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<label>Descrição</label>
				</div>
				<div class="col-md-6">
					<p class="text-justify">
						<span wicket:id="descricaoPrograma"></span>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<label>Ano</label>
				</div>
				<div class="col-md-6">
					<span wicket:id="anoPrograma"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<label>Função</label>
				</div>
				<div class="col-md-6">
					<span wicket:id="subFuncao.funcao.nomeFuncao"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<label>Subfunção</label>
				</div>
				<div class="col-md-6">
					<span wicket:id="subFuncao.nomeSubFuncao"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<label>Número do Processo SEI</label>
				</div>
				<div class="col-md-6">
					<span wicket:id="numeroProcessoSEI"></span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-2">
					<label>Valor Máximo por Proposta</label>
				</div>
				<div class="col-md-6">
					<span wicket:id="valorMaximoProposta"></span>
				</div>
			</div>
		</div>
	</div>
</wicket:panel>