<!DOCTYPE html>
<wicket:panel xmlns:wicket="http://wicket.apache.org">

	<!-- Panel Empresa -->
	<div class="form-horizontal" wicket:id="panelInformacoesFornecedor">

        <div class="form-group">
			<div class="col-md-4 control-label">
				<label for="numeroCnpj">  CNPJ:</label>
			</div>
			<div class="col-md-3 col-smLabelTop">
				<span wicket:id="numeroCnpj"></span>
			</div>
		</div>

        <div class="form-group">
			<div class="col-md-4 control-label">
				<label for="nomeEntidade">  Razão Social:</label>
			</div>
			<div class="col-md-3 col-smLabelTop">
				<span wicket:id="nomeEntidade"></span>
			</div>
		</div>
		
       <div class="form-group">
			<label class="col-md-4 control-label" for="nomeUf">Estado:</label>
			<div class="row col-sm-7">
				<div class="col-md-3 col-smLabelTop"><span wicket:id="nomeUf"></span>
				</div>
				<label class="col-md-4 control-label" for="municipio">Município:</label>
				<div class="col-md-3 col-smLabelTop">
					<span wicket:id="municipio"></span>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-md-4 control-label" for="tipoEndereco">Tipo de Endereço:</label>
			<div class="row col-sm-7">
				<div class="col-md-3 col-smLabelTop"><span wicket:id="tipoEndereco"></span>
				</div>
				<label class="col-md-4 control-label" for="descricaoEndereco">Endereço:</label>
				<div class="col-md-4 col-smLabelTop">
					<span wicket:id="descricaoEndereco"></span>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-md-4 control-label" for="numeroEndereco">Número:</label>
			<div class="row col-sm-7">
				<div class="col-md-3 col-smLabelTop"><span wicket:id="numeroEndereco"></span>
				</div>
				<label class="col-md-4 control-label" for="complementoEndereco">Complemento:</label>
				<div class="col-md-4 col-smLabelTop">
					<span wicket:id="complementoEndereco"></span>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-md-4 control-label" for="bairro">Bairro:</label>
			<div class="row col-sm-7">
				<div class="col-md-3 col-smLabelTop"><span wicket:id="bairro"></span>
				</div>
				<label class="col-md-4 control-label" for="numeroCep">CEP:</label>
				<div class="col-md-4 col-smLabelTop">
					<span wicket:id="numeroCep"></span>
				</div>
			</div>
		</div>
		
		<div class="form-group">
			<label class="col-md-4 control-label" for="nomeContato">Contato:</label>
			<div class="row col-sm-7">
				<div class="col-md-3 col-smLabelTop"><span wicket:id="nomeContato"></span>
				</div>
				<label class="col-md-4 control-label" for="numeroTelefone">Telefone:</label>
				<div class="col-md-4 col-smLabelTop">
					<span wicket:id="numeroTelefone"></span>
				</div>
			</div>
		</div>
			
		<div class="form-group">
			<div class="col-md-4 control-label">
				<label for="email">  Email:</label>
			</div>
			<div class="col-md-3 col-smLabelTop">
				<span wicket:id="email"></span>
			</div>
		</div>
		
		<div class="form-group">
			<div class="col-md-4 control-label">
				<label for="observacoes">  Observações:</label>
			</div>
			<div class="col-md-3 col-smLabelTop">
				<span wicket:id="observacoes"></span>
			</div>
		</div>

	</div>

</wicket:panel>