<!DOCTYPE html>
<wicket:panel xmlns:wicket="http://wicket.apache.org">

	<div wicket:id="panelInformacoesContrato">

        <div class="form-group">
				<label class="col-sm-4 control-label"  for="dataVigenciaInicioContrato"> Período de Vigência:</label>
				<div class="row col-sm-7">
				<div class="col-sm-1 control-label">
					<span wicket:id="dataVigenciaInicioContrato"></span>
				</div>
				<label class="col-sm-1 control-label"  for="dataVigenciaFimContrato"> a </label>
				<div class="col-sm-1 control-label">
					<span wicket:id="dataVigenciaFimContrato" ></span>
				</div>
				</div>
		</div>
     
        <div class="form-group">
                <div class="col-md-4 control-label">
				   <label   for="numeroProcessoSEI"> NUP - SEI:</label>
				</div>
				<div class="col-md-3 col-smLabelTop" >
					<span wicket:id="numeroProcessoSEI"></span>
				</div>
		</div>
	</div>
</wicket:panel>