<wicket:panel>
	<div class="pull-right">
		<form wicket:id="languageForm" action="">
		    <a wicket:id="btnPtBr"><img wicket:id="imgPtBr" width="25" height="25" style="border-style: none;"/></a>
		    <a wicket:id="btnEn"> <img wicket:id="imgEn" width="25" height="25" style="border-style: none;"/></a>
		    <a wicket:id="btnFr"><img wicket:id="imgFr" width="25" height="25" style="border-style: none;"/></a>
		    <a wicket:id="btnEs"><img wicket:id="imgEs" width="25" height="25" style="border-style: none;"/></a>
		</form>
	</div>
</wicket:panel>