<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="css/mj.css" />
		<link rel="stylesheet" href="/resources/demos/style.css">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    </head> 
    <body>        
		        <div class="row" id="incluir">
			<script type="text/javascript" src="js/mj.js"></script>
			<div class="col-sm-5">

				

					<div class="panel-body">
						<div class="form-horizontal">
							<div>
        				<div class="form-group" wicket:id="panelAdicionarBem">
						<br /> <label class="col-sm-2 control-label" for="nomeKit">
										<span class="obrigatorio">*</span> Quantidade:
						</label>
									
										<div class="col-sm-3">
												<input id="nomeKit" 
													   type="text" 
													   placeholder="Nome do Kit"
													   class="form-control mask-processo"
													   wicket:id="quantidade"/>
						  </div>
                              </div>
                                     <div class="form-group">
											<div class="col-sm-2">
                                            </div>
                                            
                                            <div class="col-sm-4">
                                            	                                            
												<button title="Fazer consulta" 
														class="btn btn-success "														
														id="btnAdicionar"
                                                        wicket:id="closeOK">
													+ Editar
												</button>
                                                <button title="Cancelar" 
														class="btn btn-warning"														
														id="btnCancelar"
                                                        wicket:id="closeOK">
													+ Cancelar
												</button>
											</div>
										

				</div>
                </div>
                </div>
                </div>
                
                </div>
                </div>
        
        
    </body>
</html>